---
import Logo from "@/assets/Logo.astro";
import Blob1 from "@/assets/Blob1.astro";
import Blob2 from "@/assets/Blob2.astro";
import Blob3 from "@/assets/Blob3.astro";
---

<header
    class="w-full flex flex-col text-center items-center justify-center p-5"
>
    <div
        class="relative w-full h-52 sm:h-90 overflow-hidden flex items-center justify-center"
    >
        <Blob3
            class="absolute size-72 sm:scale-140 max-w-full max-h-full text-yellow-400 opacity-90 -z-10 animate-spin animate-infinite animate-duration-[10000ms] animate-ease-linear animate-alternate"
        />
        <Blob1
            class="absolute size-72 sm:scale-140 max-w-full max-h-full text-pink-500 opacity-70 -z-10 animate-spin animate-infinite animate-duration-[20000ms] animate-ease-linear"
        />
        <Blob2
            class="absolute size-72 sm:scale-110 max-w-full max-h-full text-orange-500 opacity-50 -z-10 animate-spin animate-infinite animate-duration-[15000ms] animate-ease-linear animate-reverse"
        />
        <Logo class="size-36 sm:size-64 max-w-full" />
    </div>
    <h1 class="font-display flex flex-col items-center gap-3">
        <span
            class="text-4xl sm:text-6xl uppercase font-medium tracking-widest text-shadow-md text-shadow-white/50 dark:text-shadow-black/10"
            >Recetas</span
        >
        <span
            class="text-lg sm:text-xl bg-gradient-to-b dark:from-yellow-100 dark:to-amber-300 from-pink-900 to-pink-950 dark:text-pink-950 text-amber-100 shadow-md shadow-white/50 dark:shadow-black/10 px-3 py-1 rounded-full lowercase tracking-wider"
            >@evamarrez</span
        >
    </h1>
</header>
