---
import './src/styles/global.css'  
import ThemeToggle from '../components/ThemeToggle.astro';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Recetas | Eva Marrez</title>
	</head>
	<body class="bg-white text-black dark:bg-gray-900 dark:text-white transition-colors duration-300">
		<ThemeToggle />
		<header class="p-4">
		</header>
		<main class="p-4">
			<slot />
		</main>
	</body>
</html>